[Desktop Entry]
Type=Application
Version=1.0
Name=Blazing Fast Engine
Comment=Vulkan engine in Rust
Path=/home/user/Dev/projects/rust/learning-rust-and-vulkan/
Exec=/home/user/Dev/projects/rust/learning-rust-and-vulkan/target/debug/learning-rust-and-vulkan
Icon=/home/user/Dev/projects/rust/learning-rust-and-vulkan/assets/image.jpg
Terminal=false
Categories=Development;
StartupWMClass=blazing_fast_engine


# [Положить / создать ссылку на] файл в "~/.local/share/applications/"